@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  font-family: Ubuntu, sans-serif;
}

#title {
  text-align: center;
  font-size: 90px;
}

#startBtn {
  display: block;
  margin: auto;
  width: 300px;
  height: 70px;
  font-size: 40px;
  margin-top: 20px;
}

.difficultyForm{
  text-align: center;
}
