@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  font-family: Ubuntu, sans-serif;
}

/* Title page styles */

#title {
  text-align: center;
  font-size: 90px;
}

#startBtn, #startQues, #startQues2 {
  display: block;
  margin: auto;
  width: 300px;
  height: 70px;
  font-size: 40px;
  margin-top: 20px;
}

.difficultyForm{
  text-align: center;
}

/* Questions styles */

#question {
  margin: auto;
  margin-top: 50px;
}

#roundTitle {
  border: 1px solid black;
  font-size: 60px;
  padding: 20px;
}

#score, #timeKeep {
  font-size: 60px;
  padding: 10px;
  text-align: center;
}

td {
  padding: 20px;
}

.answerTable {
  margin: auto;
  margin-top: 50px;
}

.answerBtns, .answerBtns2 {
  height: 60px;
  width: 500px;

}
