@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  font-family: Ubuntu, sans-serif;
}

h2 {
  text-align: center;
}

/* Title page styles */

#title {
  text-align: center;
  font-size: 90px;
  margin-top: 150px;
}

button {
  display: block;
  margin: auto;
  width: 300px;
  height: 70px;
  font-size: 40px;
  margin-top: 20px;
  border-radius: 200px;
  box-shadow: 0px 2px 10px 1px;
}

button:hover {
  background-color: lightgrey;
}

.difficultyForm{
  text-align: center;
  margin-top: 50px;
}

.diffBtns {
  margin-right: 10px;
}

/* Questions styles */

#question, #question2 {
  margin: auto;
  margin-top: 50px;
}

#roundTitle {
  font-size: 60px;
}

#score, #timeKeep, #score2, #timeKeep2 {
  font-size: 60px;
  padding: 10px;
  text-align: center;
}

td {
  padding: 20px;
}

.answerTable {
  margin: auto;
  margin-top: 50px;
}

.answerBtns, .answerBtns2 {
  height: 60px;
  width: 500px;
  font-size: 20px;

}

/* Winner announcement */

#announceWinner {
  text-align: center;
  margin-top: 150px;
  font-size: 150px;
}
